<article>
  <h1>GNU/Linux Inside</h1>

  <img src="/images/heckert-gnu.png" alt="A Big GNU Head"
       title="GNU" />

  <p>
    This website and the server on which it is hosted is run entirely
    by <a href="https://www.gnu.org/philosophy/">free software</a>.
  </p>
  <p>
    Do you use GNU/Linux or other free software on your website? Flaunt it!
    Feel free to place the image below on your own website, blog, or
    anywhere else you see fit to let others know that you support GNU and
    free software.
  </p>
  <p>
    This image also helps to bring awareness to
    the <a href="https://www.gnu.org/">GNU operating system</a> as well as
    <a href="https://www.gnu.org/philosophy/">GNU’s philosophy</a>. The
    majority of users today consider the operating system to be called
    &ldquo;Linux&rdquo;, which is false—this is the name of the kernel;
    <a href="http://www.gnu.org/gnu/linux-and-gnu.html">GNU is the operating
    system</a>.
  </p>
  <p>
    <em>The page fold is transparent</em>; it will therefore work well with
    any background color. Please note that this is a PNG with
    alphatransparency—older browsers that users shouldn’t be using anymore
    (such as IE 6) will not render it properly unless you take the necessary
    precautions.
  </p>
  <p>
    <img src="/images/gnu-inside.png" alt="GNU/Linux Inside Page Fold"
         title="GNU/Linux Inside!">
  </p>
  <p>
    Feel free
    to <a href="https://www.gnu.org/graphics/gnu-inside.html">download the
    source file (GIMP)</a>, released under
    the <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative
    Commons Attribution-ShareAlike 2.0 Unported License</a>. It
    incorporates <a href="https://www.gnu.org/graphics/heckert_gnu.html">``A
    Bold GNU Head’’</a> by Aurelio A. Heckert, which appears at the top of
    this page.
  </p>
</article>
