<article>
  <h1>Page Not Found (404)</h1>

  <p>
    The page you requested cannot be found&mdash;it may have been removed
      or you may have stumbled across a broken link.
    If you manually entered the URL,
      please verify that it was entered correctly.
    If you believe that you have received this message in error,
      please contact
      <a href="mailto:404@mkegerwitz.com">404@mikegerwitz.com</a>
      with the full URL of this page.

  </p>
  <p>
    You may also check
    <a id="ia" href="https://web.archive.org/https://mikegerwitz.com/">The Internet
    Archive</a> for this page.
  </p>
</article>

<!-- try to be helpful, if scripts are enabled -->
<script>
  // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later
  document.getElementById( 'ia' ).href =
    'https://web.archive.org/' + document.location.href;
  // @license-end
</script>
