<h1 id="about">About</h1>

<aside class="sm">
  <img src="/images/me-libreplanet-2016.png"
       alt="Photo of Mike Gerwitz holding a microphone in front of a blackboard"
       title="Mike Gerwitz giving LibrePlanet 2016 Talk 'Restore Online Freedom!'"
       class="inline-img avatar" />

  <p>
    GPG Fingerprint:
    <tt>D6E9 B930 028A 6C38 F43B  2388 FEF6 3574 5E6F 6D05</tt>&nbsp;<!--
      --><a href="https://emailselfdefense.fsf.org/">[?]</a>
  </p>
</aside>

<article class="abstract" aria-labelledby="about">
  <p>
    I am a <a href="http://www.gnu.org/philosophy/">free (as in
      freedom) software</a> <a href="https://stallman.org/articles/on-hacking.html">hacker</a>
      and user freedom activist with a focus on user privacy and security.
    I am a professional software engineer dealing primarily with web development;
      compiler construction; and software architecture, and have been
      programming for about twenty years.
    My other personal interests include mathematics, cryptography,
      philosophy and ethics, pedagogy, writing, law, and various other fields.
    I also closely follow the work of
      the <a href="http://www.gnu.org/philosophy/">Free Software
      Foundation</a>, <a href="http://eff.org/">Electronic Frontier
      Foundation</a>, and other entities devoted to free information and free
      society.
  </p>
  <p>
    I am a member of the
      <a href="https://www.gnu.org/contact/gnu-advisory">GNU Advisory Comittee</a>;
      an assistant GNUisance on the maintainers team;
      a <a href="https://www.gnu.org/help/evaluation.html">GNU software evaluation team</a>
        (gnueval) member;
      the author of <a href="https://gnu.org/software/easejs">GNU ease.js</a>;
      and volunteer for various other aspects of
        the <a href="https://gnu.org/">GNU Project</a> and
        the <a href="https://fsf.org/">Free Software Foundation</a>.
  </p>
  <p>
    I am a <a href="https://stallman.org/articles/on-hacking.html">hacker</a>,
      not a <a href="https://stallman.org/articles/on-hacking.html">cracker</a>&mdash;the
        latter breaks the security of systems, while the former expresses playful
        creativity in their work.
  </p>
  <p>
    Outside of my field,
      I enjoy time with my family&mdash;including my wife and three
      sons&mdash;who
        keep me very busy and help to keep me sane.
    I also have a fascination with a wide range of sciences that I wish I had
      the time to devote to researching.
  </p>
  <p>
    Much of this site is devoted to my thoughts and ramblings on various
      matters and so will contain material that is subject to strong bias;
        you are encouraged to construct your own opinions.
    Formal papers contain no such influence without rationale and references.
  </p>
  <p>
    I may be contacted at mtg at gnu dot org.
    I do not make use of &ldquo;social media&rdquo; websites,
      though I may (or may not) respond to queries on websites that I am a
        member of,
      and I do host my <a href="https://mastodon.mikegerwitz.com/">own Mastodon instance</a>.
  </p>
  <p>
    (Note: This website itself is free/libre&mdash;the source code is
      available via the commit hash links in the footer of various pages and
      the content is licensed for free distribution and, in most cases,
      modification.)
  </p>
  <p>
    I changed GPG keys in October&nbsp;2016;
      see my <a href="/about/key-transition.txt">key transition statement</a>,
      signed with both my <a href="/about/key-transition.txt.new.asc">new</a>
      and <a href="/about/key-transition.txt.old.asc">old</a> keys.
  </p>
  <p>
    <a href="about/resume">View my résumé/CV.</a>
  </p>
  <p>
    <span class="attribution"><a href="https://media.libreplanet.org/u/libreplanet/m/session-03-c-ms-png-libreplanet-2016-sessions-ec00/">LibrePlanet
    2016 Photo</a> Copyright&nbsp;©&nbsp;2016 Kori&nbsp;Feener,
      <a href="https://creativecommons.org/licenses/by/4.0/">CC&nbsp;BY&nbsp;4.0</a>;
    used with permission.</span>
  </p>
</article>
