    </main>

    <footer>
      <div>
        <a href="/about/inside" class="page-flip">
          <img src="/images/gnu-inside.png" alt="GNU/Linux Inside!" />
        </a>
      </div>
      <nav id="selflinks" class="affiliation-list" aria-label="Affiliations">
        <ul>
          <li>
            <a href="https://gitlab.com/u/mikegerwitz">
              <img src="/images/gitlab.svg"
                   alt="mikegerwitz on GitLab"
                   title="mikegerwitz on GitLab"
                   width="42" height="42" border="0" />
            </a>
          </li>

          <li>
            <a href="/about/githubbub">
              <img src="/images/octoright-42.png"
                   alt="Don't see me on GitHub"
                   title="Don't see me on GitHub"
                   width="42" height="42" border="0" />
            </a>
          </li>

          <li>
            <a href="https://savannah.gnu.org/users/mikegerwitz">
              <img src="/images/meditate-42.png"
                   alt="See me on Savannah"
                   title="See me on Savannah"
                   width="42" height="42" border="0" />
            </a>
          </li>

          <li>
            <a href="https://news.ycombinator.com/user?id=mikegerwitz"
               title="mikegerwitz on Hacker News"
               class="hn-icon">HN</a>
          </li>

          <li>
            <a href="https://www.fsf.org/register_form?referrer=5804">
              <img src="/images/fsf-42.png"
                   alt="FSF Member #5804"
                   title="FSF Member #5804"
                   width="42" height="42" border="0" />
            </a>
          </li>

          <li>
            <a href="https://www.eff.org/">
              <img src="/images/eff-42.png"
                   alt="EFF Member"
                   title="EFF Member"
                   width="42" height="42" border="0" />
            </a>
          </li>
        </ul>
      </nav>

      <section class="site-nav">
        <nav aria-labelledby="nav-general">
          <h2 id="nav-general">General</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/about/resume">Résumé</a></li>
            <li><a href="https://social.mikegerwitz.com/">GNU Social</a></li>
            <li><a href="/about/inside">GNU/Linux Inside</a></li>
            <li><a href="/rss">RSS Feed</a></li>
          </ul>
        </nav>

        <nav aria-labelledby="nav-works">
          <h2 id="nav-works">Works</h2>
          <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/talks">Talks</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/papers">Papers</a></li>
            <li><a href="/projects/thoughts">Website Source Code</a></li>
          </ul>
        </nav>

        <nav aria-labelledby="nav-resources">
          <h2 id="nav-works">Resources</h2>
          <ul>
            <li><a href="https://www.gnu.org/philosophy/free-sw.html">Free/Libre
                Software</a></li>
            <li><a href="https://www.gnu.org/">The GNU Project</a></li>
            <li><a href="https://www.gnu.org/licenses/license-list.en.html">Free
                Software Licenses</a></li>
            <li><a href="https://stallman.org/articles/on-hacking.html">Richard
                Stallman On Hacking</a></li>
            <li><a href="https://www.gnu.org/philosophy/proprietary.html">Proprietary
                Software Is Often Malware</a></li>
          </ul>
        </nav>
      </section>

      <p id="copyright">
        Copyright &copy; 2021 Mike Gerwitz.
        Licensed under the Creative Commons Attribution-ShareAlike&nbsp;4.0
        International License.
      </p>
    </footer>
  </body>
</html>
